/* main {
  background: url("../../images/fundoDashboard.png");
}

@media (min-width: 768px) {
  main {
    padding: 12em 2% 2% 2%;
  }

  .header {
    height: 0;
  }
} */

/* .homeDashboard {
  padding: 2%;
} */

.topHomeDashboard {
  background: url("../../images/fundoDashboard.png");
  background-attachment: fixed;
  padding: 2%;
  height: 50rem;
}

.midHomeDashboard {
  padding: 2%;
}

.textJotinha {
  width: 50%;
  position: relative;
  top: 5em;
  left: 2em;
}

.jotinhaImg {
  position: relative;
  top: -7em;
}

.jotinhaImg img {
  width: 100%;
}

.cardContinue {
  /* width: 100%; */
  text-align: center;
  position: relative;
  top: -8em;
  left: 5%;
}

.midImdDashboard {
  margin-top: 30%;
}

.midImdDashboard img {
  width: 100%;
}

.textMidDashboard {
  text-align: center;
}

.textMidDashboard p {
  width: 80%;
  margin: 0 auto;
}

.topicosCategoriaDashboard {
  background: url("../../images/gradefundo.svg");
  /* width: 100%; */
  padding: 1rem 0px;
}

.headerTextTC {
  text-align: center;
}

.headerTextTC h1 {
  font-size: medium;
}

.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.categorias img {
  width: 40%;
  margin: 2% 0px;
}

.footerHomerDashboard {
  background: linear-gradient(222.84deg, #890513 3.39%, #DA4431 93.09%);
  height: 30vh;
  padding: 4% 2%;
}

.footerHomerDashboard h1 {
  text-align: center;
  color: white;
}

.footerCarrosselHD {
  text-align: center;
}

@media (min-width: 768px) {
  .topHomeDashboard {
    /* background: url("../../images/fundoDashboard.png"); */
    /* background-attachment: fixed; */
    background-size: cover;
    padding: 8em 2% 0 2%;
  }

  /* .midHomeDashboard {
    padding: 0 2% 0 2%;
  } */
}
