footer {
  background: #D22B2B;
  color: white;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; */
  font-weight: 700;
  padding: 2%;
  text-align: center;

  /* position: fixed;
  width: 100%;
  bottom: 0; */
}

@media (min-width: 768px) {
  footer {
    padding: 1%;
  }
}