.LoginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 400px; */
  width: 90%;
  height: 50%;
  background-color: white;
  border: 2px solid #000;
  /* box-shadow: 24px; */
  padding: 10px;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;

  /* fonte precisou ser adicionado manual em itens do material ui */
  /* font-family: "Press Start 2P" !important;
  font-size: 0.7em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7em; */
}

form {
  height: 100%;
}

.FormInputs {
  flex-direction: column !important;
  height: 100%;
  justify-content: space-around;
}

.InputsText {
  flex-direction: column !important;
}

.HeaderForm {
  display: flex;
  justify-content: space-between;
}

.ButtonCloseForm {
  cursor: pointer;
}

@media (min-width: 768px) {
  .LoginForm {
    width: 15%;
    height: 40%;
  }
}