main {
  height: 100%;
  padding: 2%;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  main {
    /* padding: 12em 2% 1% 2%; */
    /* padding: 8em 2% 1% 2%; */
    padding: 5em 2% 1% 2%;
  }
}