/* .content {
  background: url("../../images/fundoDashboard.png");
} */
main {
  background: url("../../images/fundoDashboard.png");
}

@media (min-width: 768px) {
  main {
    padding: 12em 2% 2% 2%;
  }

  .header {
    height: 0;
  }
}



/* padding: 8em 2% 2% 2%; */