.container-novaTrilha {
  width: 55rem;
  height: 30rem;
  border-radius: 20px;
}

.container-novaTrilha:focus-visible {
  outline: none;
}

.top-novaTrilha {

}

.text-top-novaTrilha p {
  color: #D9D9D9;
  margin-right: 3%;
  cursor: pointer;
}

/* Trilha */
.main-novaTrilha {
  padding: 1em;
  width: 100%;
  height: 100%;
}

.box-main-novaTrilha {
  border-radius: 12px;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

.box-main-novaTrilha-top {
  border-bottom: 1px solid #000;
  /* margin-bottom: 4%; */
}

.box-main-novaTrilha-main {

}

.input-nome-novaTrilha {
  border: 1px solid #000;
  width: 20em;
  height: 2em;
}

.input-descricao-novaTrilha {
  border: 1px solid #000;
  /* width: 20em; */
  height: 10em;
  margin-right: 2em;
}

.input-file-novaTrilha {

}

.btn-main-novaTrilha {
  
  width: 80px;
  height: 36px;
  border-radius: 10px;
  font-size: 1em;
  color: white;
  border: none;
  

  background: #F0100A;
  cursor: pointer;

  position: absolute;
  right: 1%;
  bottom: 2%;
}

.btn-main-novaTrilha:disabled {
  cursor: not-allowed;
  background: #BC1F1B;
}

.btn-main-novaTrilha:hover {
  border: 2px solid #962724;
}

/* conteudo */
.main-conteudoTrilha {
  padding: 1em;
  width: 100%;
  height: 100%;
}

.box-main-conteudoTrilha {
  border-radius: 12px;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.subBox-main-conteudoTrilha-left {
  border: 1px solid #000;
  /* flex: 1; */
  width: 17em;
  padding: 10px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow-y: scroll;
}

.subBox-main-conteudoTrilha-center {
  flex: 0;
  position: relative;
  top: 50%;
}

.subBox-main-conteudoTrilha-right {
  border: 1px solid #000;
  flex: 1;
  padding: 10px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.subBox-main-conteudoTrilha-left-line {
  border: 1px solid #000;
  width: 100%;
  /* border-bottom: ; */
  margin-bottom: 20px;
}

.subBox-main-conteudoTrilha-left-addCurso {
  background: #F5F7F8;
  text-align: center;
  border: 1px solid #EEE;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

.subBox-main-conteudoTrilha-left-listaCursos{
  /* min-height: 100%; */
}

.subBox-main-conteudoTrilha-left-curso {
  /* padding-left: 5px; */
  padding: 1px 1px 1px 10px;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 0.8em;
  height: 2.7em;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.input-nome-novoCurso {
  border: 1px solid #000;
  width: 20em;
  height: 2em;
  margin-bottom: 2em;
}

.input-nome-Aula {
  border: 1px solid #000;
  width: 20em;
  height: 2em;
  margin-bottom: 1em;
}

.input-descricao-Aula {
  border: 1px solid #000;
  width: 20em;
  height: 2em;
  margin-bottom: 1em;
}

.input-linkVideo-Aula {
  border: 1px solid #000;
  width: 20em;
  height: 2em;
  margin-bottom: 1em;
} 