.container-trilhas {
  /* height: 100%; */
}

.top-trilhas {
  width: 100%;
}

.top-trilhas .elements-top-trilhas .text-top-trilhas p {
  color: #D41D26;
  font-weight: 600;
}

/* .top-trilhas .elements-top-trilhas .btns-top-trilhas img {
  cursor: pointer;
} */

.elements-top-trilhas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-trilhas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  overflow-y: auto;
  height: 100%;
}

.trilha-box {
  width: 315px;
  height: 217px;
  border-radius: 8px;
  background: #D9D9D9;
  margin: 1%;
  cursor: pointer;
}

.trilha-box-top {
  height: 45%;
  border-radius: 8px 8px 0px 0px;
  background: #696969;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trilha-box-main {
  color: #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
}

.btns-top-trilhas img {
  cursor: pointer;
}