/*  Remover essa config  */

@media (width > 768px) {
  .container-aula {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container-lateral-aula {
    height: 90vh;
    width: 25rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
  }
  .modulo-aula {
    height: 15%;
    background-color: #da4431;
    display: flex;
    align-items: end;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    justify-content: center;
  }
  .nome-modulo-aula,
  .titulo-quiz-aula {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .aulas {
    height: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .quiz-aula {
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid black;
    height: 8%;
  }

  .container-video-aula {
    background-image: url("../../../images/fundoAula.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
  }
  .informacao-aula,
  .descricao-aula {
    width: 60%;
    margin: auto;
    padding: 15px;
  }
  .titulo-informacao-aula {
    padding: 20px;
    font-weight: 100;
    font-size: 2.5rem;
    text-align: center;
    color: #da4431;
  }
  .descricao-informacao-aula {
    padding: 10px;
    font-weight: 600;
  }
  .video-aula {
    position: relative;
    padding-bottom: 33.25%;
    width: 60%;
    height: 0;
    overflow: hidden;
    display: block;
    margin: auto;
  }
  .video-aula iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .navegacao-aula {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    gap: 20px;

    color: #da4431;
    font-weight: 600;
    text-decoration: underline;
  }
}
